    <%- include('defaults/header') %>



    <!--main contains website title & calculator-->
    <main>
        <!--website title-->
        <section class="homeTite">
            <h1>Math with Science</h1>
            <p class="description">
                is a free to use website that helps you with your difficult Math and Science equations.
                and by time I'm trying my best to get new calculators to the collection.
            </p>
        </section>

        <!--calculator-->
        <section class="calculatorHolder">
            <div class="calculator">
                <div>
                    <h6>Math with Science</h6>
                    <div>
                        <form name="form" autocomplete="off">
                            <input id="answerview" autocomplete="off" class="answerview" name="answerview" readonly>
                        </form>
                    </div>
                    <div class="buttons">
                        <table>
                            <tr>
                                <td><input type="button" class="button" value="C" onclick="clean()"></td>
                                <td><input type="button" class="button" value="<" onclick="back()"></td>
                                <td><input type="button" class="button" value="/" onclick="insert('/')"></td>
                                <td><input type="button" class="button" value="x" onclick="insert('*')"></td>
                            </tr>
                            <tr>
                                <td><input type="button" class="button" value="7" onclick="insert(7)"></td>
                                <td><input type="button" class="button" value="8" onclick="insert(8)"></td>
                                <td><input type="button" class="button" value="9" onclick="insert(9)"></td>
                                <td><input type="button" class="button" value="+" onclick="insert('+')"></td>
                            </tr>
                            <tr>
                                <td><input type="button" class="button" value="4" onclick="insert(4)"></td>
                                <td><input type="button" class="button" value="5" onclick="insert(5)"></td>
                                <td><input type="button" class="button" value="6" onclick="insert(6)"></td>
                                <td><input type="button" class="button" value="-" onclick="insert('-')"></td>
                            </tr>
                            <tr>
                                <td><input type="button" class="button" value="1" onclick="insert(1)"></td>
                                <td><input type="button" class="button" value="2" onclick="insert(2)"></td>
                                <td><input type="button" class="button" value="3" onclick="insert(3)"></td>
                                <td rowspan="2"><input type="button" class="button buttonheight" value="="
                                        onclick="equals()"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="button" class="button buttonwidth" value="0"
                                        onclick="insert(0)"></td>
                                <td><input type="button" class="button" value="." onclick="insert('.')"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--calculators names and links-->
    <section class="calculators">

        <!--this div is used for making calculator button go perfectly upon calculators section-->
        <div id="calculators" style="position: relative; top: -15vh;"></div>

        <h2><a href="/calculators">Calculators</a></h2>

        <div class="pages">
            <!--calc is any divs design-->

            <!--showing all available Calculators-->
            <% ParentCalculators.forEach(calc => { %>
                <div class="calc">
                    <h3>
                        <%# cheking if the page was not ready and its description was COMMING SOON, then it must not have a link %>
                        <a <% if (calc.description != "Cooming Soon*") { %> href="calculators/<%= calc.name.toLowerCase().replace(/\s+/g, '-') %><% } %>"><%= calc.name %></a>
                    </h3>
                    <p class="textp"><%= calc.description %></p>
                </div>
            <% }); %>

        </div>
    </section>

    <!--Website feautures-->
    <section class="content">

        <!---->
        <div class="intro">
            <h4 class="introHeading">Interesting Feautures</h4>
        </div>

        <!--feauture description-->
        <div class="description">
            <li class="fueature">
                You dont have to press any button to make the calculators work, they work automatically.
            </li>
            <li class="fueature">
                Solving a problem with <a href="/calculators/algebra/equation-solver">Equation Solver</a> will show you the Graph of your problem.
            </li>
            <li class="fueature">
                With <a href="/calculators/algebra/decimal-fraction">Decimal Fraction</a> you can change decimal numbers to fraction, not just 
                simplifing your fractions.
            </li>
            <li class="fueature">
                the <b>"Understand BMI"</b> part in <a href="/calculators/health/body-mass-index">Body Mass Index</a> analyze your BMI so you can understand it.
            </li>
        </div>

    </section>


    <%- include('defaults/footer') %>