<%# GEOMETRY.EJS variables %>
<%# calc: calculator section of the page %>
<%# calcAnswer: name for the answer part of the page %>

<%- include('../defaults/header') %>

<%- include('../pageTitle-backPage') %>


<section class="container">
    <section id="calculator" class="calculator">

        <% calc.forEach(element => { %>
        <div class="calc">
            <h3 class="name"><%= element.calcName %></h3>
            
            <!--working area-->
            <div class="calculationArea">
                <!--input part-->
                <div class="place">
                    <div class="input">
                        <label class="label"><%= element.calcInput[0].substring(0,1) %><span
                                class="hide"><%= element.calcInput[0].substring(1) %></span> :
                        </label>
                        <input type="number" id="<%= element.calcName.toLowerCase().replace(/\s+/g, '') %>Input"
                            autocomplete="off" class="field" placeholder="<%= element.calcInput[1] %>"
                            oninput="<%= element.calcName.toLowerCase().replace(/\s+/g, '') %>(this)">
                    </div>
                </div>

                <%# cheking if this entry has 2 inputs %>
                <% if (element.calcInput[2]) { %>
                <div class="place">
                    <div class="input">
                        <label class="label"><%= element.calcInput[2].substring(0,1) %><span
                                class="hide"><%= element.calcInput[2].substring(1) %></span> :
                        </label>
                        <input type="number" id="<%= element.calcName.toLowerCase().replace(/\s+/g, '') %>Input2"
                            autocomplete="off" class="field" placeholder="<%= element.calcInput[3] %>"
                            oninput="<%= element.calcName.toLowerCase().replace(/\s+/g, '') %>(this)">
                    </div>
                </div>
                <% } %>

                <!--answer part-->
                <div class="place">
                    <div class="answer">
                        <label class="label"><%= title.substring(0,1) %><span
                                class="hide"><%= title.substring(1) %></span> :
                        </label>
                        <input type="number" id="<%= element.calcName.toLowerCase().replace(/\s+/g, '') %>Answer"
                            autocomplete="off" class="field answerField" placeholder="<%= title.substring(0,1) %>"
                            readonly>
                    </div>
                </div>

                <%# cheking if this entry didnt has 2 inputs, we show an impty div %>
                <% if (!element.calcInput[2]) { %>
                <div class="place"></div>
                <% } %>

            </div>
        </div>
        <% }) %>
    </section>
</section>





<%- include('../defaults/footer') %>